/* Add screen styles below */

body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto; /*will remove default margins*/
}

main {
    margin: 0 auto; /*margin generally has 4 value areas */
    width: 800px;
}

.masthead {
    background-image: url('images/mac.jpg');
    background-size: cover;
    background-position: bottom;
    height: 200px;
    border-radius: 20px; /*For the rounded corners*/

}

.details /*parent class*/ {
    display: flex;
    gap: 25px;
}

.details section {
    flex-grow: 1; /* 1 = wont grow past normal size */
    flex-basis: 0; /*0 = will make the box to be evenly distributed*/
    background: #d6d3d3;
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
}

img {
    width: 100%;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0;
    line-height: 1.4em;
}